@model EcommerceWeb.Models.EmployeeVM
@{
    ViewBag.Title = "Add New Employee";
}
<div class="row">
    <div class="col">
        <h2 class="text-info">Add New Employee</h2>
        <hr />
        <div class="col-md-12">
            <form id="employeeForm" asp-action="YourAction" asp-controller="YourController" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="row mb-2">
                    <div id="msg"></div>
                </div>
                <div class="row g-3">
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.FirstName, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.LastName, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-6">
                        @Html.LabelFor(x => x.DateofBirth, new { @class = "form-label fs-4" })
                        @Html.EditorFor(x => x.DateofBirth, new { htmlAttributes = new { @class = "form-control fs-4" }, Type = "date" })
                        @Html.ValidationMessageFor(x => x.DateofBirth, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Gender, new { @class = "form-label fs-4" })
                        @Html.DropDownList("Gender", new List<SelectListItem>() {
                                            new SelectListItem(){Text="Male",Value="Male"},
                                            new SelectListItem(){Text="Female",Value="Female"},
                                            new SelectListItem(){Text="Other",Value="Other"}
                            }, "--Select Gender--", new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Gender, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Email, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control fs-4", Type = "email" })
                        @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Phone, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control fs-4" })
                        @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Address, new { @class = "form-label fs-4" })
                        @Html.TextAreaFor(x => x.Address, new { @class = "form-control fs-4"})
                        @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(x => x.Picture, new { @class = "form-label fs-4" })
                        @Html.TextBoxFor(x => x.Picture, new { @class = "form-control fs-4", Type = "file" })
                        @Html.ValidationMessageFor(x => x.Picture, "", new { @class = "text-danger" })
                    </div>
                <div class="col-md-6" style="padding-top:36px;">
                        <button type="button" onclick="submitForm()" class="btn btn-success btn-lg col-12">
                            <i class="fa-regular fa-floppy-disk fs-4"></i> Save
                        </button>
                    </div>
                </div>
            </form>

            <div class="col-md-12 d-flex justify-content-lg-end mt-2">
                <a href="@Url.Action("Index", "Employee")" class="btn btn-danger btn-sm fs-4">
                    <i class="fa-regular fa-hand-back-point-left"></i> Back to the list
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>

    <script>
        function submitForm() {
            var formData = new FormData($("#employeeForm")[0]);

            $.ajax({
                url: $("#employeeForm").attr("action"),
                method: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    $("#msg").html(result);
                    clearAll();
                }
            });
        }

        function clearAll() {
            $("#employeeForm").trigger("reset");
        }
    </script>
}